*.classpath
*.project
*.log
.settings/
target/
lib/
classes/
.idea/
*.iml
update-config.properties
mvnw
mvnw.cmd
ddesign-log/
ddesign-api-doc/index.html
ddesign-admin-doc/index.html
ddesign-admin-log
application.properties

